In [5]:
from sqlalchemy import create_engine
from pprint import pprint

engine = create_engine('sqlite:///customer.db', echo=False)

conn = engine.connect()
result = conn.execute("SELECT * FROM customers LIMIT 3;")

pprint(list(result))

conn.close()

[(1, 'Roman', 'Ross', 'KS', 128, 415, '382-4657', 'no', 'yes', 25, 265.1, 110, 45.07, 197.4, 99, 16.78, 244.7, 91, 11.01, 10.0, 3, 2.7, 1, 0),
 (2, 'Lindy', 'Jackson', 'OH', 107, 415, '371-7191', 'no', 'yes', 26, 161.6, 123, 27.47, 195.5, 103, 16.62, 254.4, 103, 11.45, 13.7, 3, 3.7, 1, 0),
 (3, 'Sarina', 'Price', 'NJ', 137, 415, '358-1921', 'no', 'no', 0, 243.4, 114, 41.38, 121.2, 110, 10.3, 162.6, 104, 7.32, 12.2, 5, 3.29, 0, 0)]